@import "tailwindcss";
@import "tw-animate-css";

[data-theme="paper"] {
  --background: var(--color-mist-50);
  --foreground: var(--color-mist-950);
  --muted: var(--color-mist-800);
  --primary: var(--color-indigo-100);
  --primary-foreground: var(--color-indigo-900);
  --accent: var(--color-indigo-900);
  --accent-foreground: var(--color-indigo-800);
  --border: var(--color-indigo-900);
}

[data-theme="space"] {
  --background: var(--color-gray-900);
  --foreground: var(--color-mist-50);
  --muted: var(--color-mist-400);
  --primary: var(--color-amber-800);
  --primary-foreground: var(--color-amber-200);
  --accent: var(--color-lime-600);
  --accent-foreground: var(--color-lime-300);
  --border: oklch(1 0 0 / 10%);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-sans);

  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* Animations */
@theme {
  --animate-marquee: marquee linear infinite;
  --animate-marquee-reverse: marquee-reverse linear infinite;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}
